.cart-container {
    padding: 20px;
}

.cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table th,
.cart-table td {
    padding: 8px;
    text-align: left;
}

.cart-table td input[type="number"] {
    width: 3rem;
    padding: 10px;
    border: 0px solid transparent;
    border-radius: 5px;
}

.cart-table td input[type=number]::-webkit-inner-spin-button,
.cart-table td input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.item-image {
    width: 50px;
    height: 50px;
}

.total-label {
    text-align: right;
    font-weight: bold;
}

.total-price {
    font-weight: bold;
    color: #ff6347;
}

.product-name {
    font-weight: bold;
}

.product-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.order-form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.order-form h2 {
    margin: 20px 0;
}

.order-form input {
    width: 50%;
    padding: 1rem;
    border-radius: 5px;
    border-color: transparent;
    appearance: none;
    outline: none;
    margin: 0.5rem 0 1rem 0;
}

.order-form .error {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {

    .order-form label,
    .order-form input,
    .order-form button {
        width: 100%;
    }
}

@media (prefers-color-scheme: light) {
    .order-form input {
        border: 1px solid rgb(201, 201, 201);
    }

    .cart-table td input[type="number"] {
        border: 1px solid rgb(201, 201, 201);
    }
}