body {
    margin: 0;
}

.notfound-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notfound-container h1 {
    font-size: 4rem;
    margin: 1rem 0;
}

.notfound-container p {
    opacity: 0.9;
}